// font-family: 'Noto Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #282c34;
  color: white;
}

.text {
  color: white;
  &__heading3 {
    font-size: 3.6rem;
  }

  &__normal {
    font-size: 2.4rem;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
  }
}

.to-do-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form {
  &__row {
    display: flex;
    gap: 1rem;
  }
}
